.Szcointer 
{
    background-color: #222;
    margin: 50px;
    padding: 20px;
}

@keyframes colorGradient
{
    from {color: white;}
    to {color: wheat;}
}

.BirkaSz:hover 
{
    animation-name: colorGradient;
    animation-duration: 2s;
    animation-direction: normal;
    color: wheat;
}

.BirkaSz
{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body
{
    background-color: black;
}