div 
{
    background-color: #222;
    margin: 50px;
    padding: 20px;
    transition: 0.3s ease-in;
    text-shadow: none;
}

div:hover
{
    text-shadow: 0 0 20px #fff, 0 0 30px #fff;
    transition: 0.3s ease-in;
}

p:hover, li:hover 
{
    transition: 0.3s ease-in;
    color: wheat;
}

p, li
{
    text-shadow: none;
    transition: 0.3s ease-in;
    color: white;
}

li 
{
    text-align: left;
}

body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
}